<!DOCTYPE html>

{% extends 'store/main.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">

{% block content %}

    <div class="row">
        <div  class=" col-lg-7">
            <div class="">
                <div  class="checkout-cont">
                    <h3>Personal details and Address</h3>
                    <form id="form">
                        {%csrf_token %}
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input required type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label >Full name (First and Last name)</label>
                                    <input type="text" class="form-control" id="exampleInputName1" aria-describedby="emailHelp" placeholder="Enter Full Name" name="name">
                                </div>
                            </div>
                        </div>
    
                        <div  id="shipping-info" >
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="inputAddress">Address</label>
                                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="addres">
                                      </div>
                                </div>
                            </div>
                           
                            <div class="row">
                                <div class="form-group col-md-6">
                                  <label for="inputCity">City</label>
                                  <input type="text" class="form-control" id="inputCity" name="city">
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="inputState">State</label>
                                  <select id="inputState" class="form-control" name="state">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                  </select>
                                </div>
                                <div class="form-group col-md-2">
                                  <label for="inputZip">Zip</label>
                                  <input type="text" class="form-control" id="inputZip" name="zip">
                                </div>
                              </div>
        
                        </div>       
                        
    
                        
                         <button id="submit-form" type="submit" class="btn btn-secondary proceed-payment">Save and proceed to payment</button>
                    </form>
    
                </div>
            </div>

            <div id="payment-id" class="payment-cont hidden"> 
                <h3>Payment infomation</h3>
                <form id="form2">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Card Number</label>
                                <input type="" class="form-control" id="" aria-describedby="" placeholder="xxxx-xxxx-xxxx-xxxx">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label >Card Name</label>
                                <input type="text" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter name on card">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                          <label for="inputCity">Year</label>
                          <select id="inputState" class="form-control">
                            <div>
                                <option selected>YYYY</option>
                                <option>2020</option>
                                <option>2021</option>
                                <option>2022</option>
                                <option>2023</option>
                                <option>2024</option>
                                <option>2025</option>
                            </div>
                          </select>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputState">Month</label>
                          <select id="inputState" class="form-control">
                            <div>
                                <option selected>MM</option>
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </div>
                          </select>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="inputZip">Code</label>
                          <input type="text" class="form-control" id="inputZip" placeholder="xxx">
                        </div>
                    </div>
                    <button id="make-payment"  class="btn btn-secondary proceed-payment">Place Order</button>
                    
                </form>
            </div>
        </div>

        <div class=" col-lg-5   ">
           <div class="checkout-cont">
               <div class="row">
                   <h3 class="order-summary-txt">Your order summary</h3>
               </div>
               {% for item in items %}
                   <div class="row">
                       <div class="col-lg-3 sum-col">
                           <div class="sum-col">
                               <img class="cart-itm-img-sum" src="{{item.product.image.url}}">
                           </div>
                       </div>
                       <div class="col-lg-6 ">
                           <div class="row sum-col">
                                <h3  class="check-out-sum-txt">{{item.product.name}}</h3>
                           </div>
                           <div class="row sum-col">
                                <h3  class="check-out-sum-txt">Qty: 0{{item.quantity}}</h3>
                           </div>
                       </div>
                       <div class="col-lg-3 sum-col">
                           <div class="row">
                                <h3  class="check-out-sum-prc">${{item.ItemTttl|floatformat:2}}</h3>
                           </div>

                       </div>

                   </div>
               {%endfor%}
               <div class="row ttl-cont-sum">
                    <div class="col-lg-3 ">
                        <a class="btn btn-secondary btn-sm chk-out-2" href="{% url 'cart' %}">Back to cart</a>
                    </div>

                    <div class="col-lg-6">
                        <h3  class="prc-fnt1-sum" >Subtotal ({{order.CartItmTtl}} items):</h3>
                    </div>

                   <div class="col-lg-3">
                        <h3 style="float: right" class="check-out-sum-prc "><strong> ${{order.CartTtl|floatformat:2}}</strong></h3>
                    </div>

                </div>

           </div>
        </div>
    </div>


    <script type="text/javascript">
        
        var shipping = '{{order.shipping}}'
        var total = '{{order.CartTtl}}'

        if(shipping == 'False'){
            document.getElementById('shipping-info').innerHTML=''
        }

    
        var form = document.getElementById('form')
        var form2 = document.getElementById('shipping-info')
        

        form.addEventListener('submit', function(e){
            e.preventDefault()
            console.log('form submitted...')
            document.getElementById('submit-form').classList.add('hidden')
            document.getElementById('payment-id').classList.remove('hidden')
        })
    
        document.getElementById('make-payment').addEventListener('click', function(e){
            e.preventDefault()
            submitformData()
        })  

        function submitformData(){
            console.log('payment processing')
            var userformdata = {
                'name': null,
                'email': null,
                'total': total
            }

            var shippinginfo = {
                'address': null,
                'city': null,
                'state': null,
                'zip': null,
            }

            if(shipping != 'False'){
                shippinginfo.address = form.addres.value
                shippinginfo.city = form.city.value
                shippinginfo.state = form.state.value
                shippinginfo.zip = form.zip.value
            }

            
            if(user != 'AnonymousUser'){
                userformdata.name = form.name.value
                userformdata.email = form.email.value
                
            }

            var url = '/process_order/'
            fetch(url,{
                method: "POST",
                headers:{
                    'Content-Type' : 'application/json',
                    'X-CSRFToken' : csrftoken
                }, 
                body:JSON.stringify({'form':userformdata, 'shipping':shippinginfo})
            })
            .then((response) => response.json())
            .then ((data) => {
                console.log('Success:', data);
                alert('TRANSACTION COMPLETED')
                window.location.href = "{% url 'store'%}"
            })
           
        }


    </script>
{% endblock %}