<!DOCTYPE html>

{% extends 'store/main.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">

{% block content %}

    <div class="row">
        <div  class=" col-lg-7">
            <div class="">
                <div  class="checkout-cont">
                    <h3>Personal details and Address</h3>
                    <form>
                        {%csrf_token %}
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label >Full name (First and Last name)</label>
                                    <input type="text" class="form-control" id="exampleInputName1" aria-describedby="emailHelp" placeholder="Enter Full Name">
                                </div>
                            </div>
                        </div>
    
                        <div  id="shipping-info" >
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="inputAddress">Address</label>
                                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                                      </div>
                                </div>
                            </div>
                           
                            <div class="row">
                                <div class="form-group col-md-6">
                                  <label for="inputCity">City</label>
                                  <input type="text" class="form-control" id="inputCity">
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="inputState">State</label>
                                  <select id="inputState" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                  </select>
                                </div>
                                <div class="form-group col-md-2">
                                  <label for="inputZip">Zip</label>
                                  <input type="text" class="form-control" id="inputZip">
                                </div>
                              </div>
        
                        </div>       
                        
    
                        
                         <button type="submit" class="btn btn-secondary proceed-payment">Save and proceed to payment</button>
                    </form>
    
                </div>
            </div>

            <div class="payment-cont"> 
                <h3>Payment infomation</h3>
            </div>

            

        </div>

        <div class=" col-lg-5   ">
           <div class="checkout-cont">
               <div class="row">
                   <h3 class="order-summary-txt">Your order summary</h3>
               </div>
               {% for item in items %}
                   <div class="row">
                       <div class="col-lg-3 sum-col">
                           <div class="sum-col">
                               <img class="cart-itm-img-sum" src="{{item.product.image.url}}">
                           </div>
                       </div>
                       <div class="col-lg-6 ">
                           <div class="row sum-col">
                                <h3  class="check-out-sum-txt">{{item.product.name}}</h3>
                           </div>
                           <div class="row sum-col">
                                <h3  class="check-out-sum-txt">Qty: 0{{item.quantity}}</h3>
                           </div>
                       </div>
                       <div class="col-lg-3 sum-col">
                           <div class="row">
                                <h3  class="check-out-sum-prc">${{item.ItemTttl|floatformat:2}}</h3>
                           </div>

                       </div>

                   </div>
               {%endfor%}
               <div class="row ttl-cont-sum">
                    <div class="col-lg-3 ">
                        <a class="btn btn-secondary btn-sm chk-out-2" href="{% url 'cart' %}">Back to cart</a>
                    </div>

                    <div class="col-lg-6">
                        <h3  class="prc-fnt1-sum" >Subtotal ({{order.CartItmTtl}} items):</h3>
                    </div>

                   <div class="col-lg-3">
                        <h3 style="float: right" class="check-out-sum-prc "><strong> ${{order.CartTtl|floatformat:2}}</strong></h3>
                    </div>

                </div>

           </div>
        </div>
    </div>
    <script type="text/javascript">
        var shipping = '{{order.shipping}}'
        if(shipping == 'False'){
            document.getElementById('shipping-info').innerHTML=''
        }

    </script>
{% endblock %}