{% extends 'store/main.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">

{% block content %}

        <div class="row moreinfocont">
            <div class="col-lg-3">
                    <div class="moreinfoimgcont">
                        <img class="moreinfoimg" src="{{product.imgURL}}">
                    </div>
            </div>

            <div class="col-lg-9">
                    <div class="row">
                            <div class="col-lg-9"> 
                                <div class=" col-lg-12 middlecont">
                                        <div class="row namecont">
                                                <div class="col-lg-12">
                                                        <div class="row">
                                                                <h3 class="moreinfofont">{{product.name}}</h3>
                                                        </div>
                                                        
                                                        <div class="row ">
                                                                <ul>
                                                                        <p><strong>About this item</strong> </p>
                                                                        <li>Donec id leo pharetra leo iaculis lobortis.</li>
                                                                        <li>Suspendisse sed purus sit amet risus blandit feugiat sed non lectus.</li>
                                                                        <li>Suspendisse eget dui in velit posuere maximus eget vitae turpis.</li>
                                                                        <li>Nunc et orci sollicitudin elit posuere pulvinar.</li>
                                                                </ul>
                                                        </div>
                                                </div>
                                               
                                        </div>
                                        
                                        
                                        <a><button data-product={{product.id}} data-action="add" class="btn btn-primary btn-lg btn-block add-cart-btn-info">Add to cart</button></a>
                                </div>      
                            </div>

                            <div class="col-lg-3">
                                <div class="">
                                        <div class="price-and-dets">
                                                <h3 class="moreinfoprcfont">${{product.price}}</h3>
                                        </div>
                                        <p style="margin: 0px;"><small>Calculate Delivery</small></p>
                                        <form class="form-inline my-2 my-lg-0">
                                                <input class="form-control mr-sm-2 zipbar" type="search" placeholder="00000-00">
                                                <button class="btn btn-outline-success my-2 my-sm-0 zipbarbtn" type="submit">OK</button>
                                        </form>
                                </div>
                            </div>
                    </div>
            </div>

            
    
        </div>
        

        <script>
                var cartbtn = document.getElementsByClassName('add-cart-btn-info')

                for(var i = 0; i < cartbtn.length; i++){
                        cartbtn[i].addEventListener('click', function(){
                                var productId = this.dataset.product
                                var action  = this.dataset.action
                                console.log('productId:', productId, 'action:',action)

                                console.log('USER:', user)
                                if (user === 'AnonymousUser'){
                                console.log('not logged in')
                                }else{
                                        updateUserOrder(productId, action)
                                }

                        })
                }
        </script>
{% endblock %}