{% extends 'store/main.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">

{% block content %}

    <div class="box-cont">
        <h7 class="h7"><strong>Most popular products </strong></h7>
            <div class="row">
                {% for product in products %}

                    <div class="col-lg-4  ">
                       <a href="{% url 'itemdetails' %}">
                           <div class="thumbnail" >
                               <img class="stock-img" src="{{product.imgURL}}">
                           </div>

                           <div class="box-element product">
                               <div class="row h3">
                                   <h3 class="h3">{{product.ProductNm}}</h3>
                               </div>


                                <hr>
                                <div class="add-cart-cont" >
                                    <a  ><button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-cart-btn">Add to cart</button></a>
                                    <h4 style=" float: right " >${{product.price}}</h4>
                                </div>

                           </div>
                       </a>
                   </div>
                {% endfor %}


        </div>
    </div>
{% endblock content %}


