body{
	background-color: hsl(0, 0%, 98%);
	margin: 0px;
	padding: 0px;
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.h7{
    font-size: 25px;
}
.h3{
    font-size: 25px;
    margin: 0px;

}

.prc-fnt{
    font-size: 20px;
}
.prc-fnt1{
    font-size: 20px;
    font-weight: 470;
    margin-right: 10px;
}
.prc-fnt-sum{
    font-size: 15px;
    
}
.prc-fnt1-sum{
    font-size: 15px;
    font-weight: 500;
    margin-right: 10px;
    margin-left: 25px;
    margin-bottom: 1px;
}

.order-summary-txt{
    margin-bottom: 20px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 500;

}
.check-out-sum-txt{
     margin-left: 25px;
     font-size: 15px;
     font-weight: 490;
     margin-top: 15px;
}

.check-out-sum-prc{
     margin-top: 15px;
     margin-left: 70px;
     font-size: 15px;
     font-weight: 500;
}
.sml-h3{
    margin-top: 15px !important;
    margin-bottom: -15px !important;
    font-size: 20px;

}

.box-element{
	box-shadow:hsl(0, 0%, 90%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
	height:150px;
}
.cart-cont{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;

}
.checkout-cont{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
	max-width: 100%;
	margin-left: 10px;

}

.payment-cont{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
	max-width: 100%;
	margin-left: 10px;
	margin-top: 20px;

}

.dropdown-cont{
    max-width:50px;
}

.box-cont{
    display: inline-block;
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
	margin-left: 20px;
}
.banner-cont{
    display: inline-block;
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 30px;
	padding: 0px;
	margin-bottom:40px;
}
.ttl-cont-sum{
    margin-top: 20px !important;
}
.product{
	border-radius: 0 0 4px 4px !important;
	background-color: white !important;
	max-height: 80% !important;
}


.thumbnail{
    margin: auto;
    padding:10px;
	width: 100%;
	height: 250px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);

    box-shadow:hsl(0, 0%, 90%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;



}
.stock-img{

    width: 70%;
	height: 80%;

	margin-left: 20%;
	margin-top: 10%;
}

.cart-itm-img{
    padding:10px;
	width: 200px;
	height: 150px;
}
.cart-itm-img-sum{
    padding:10px;
	width: 120px;
	height: 95px;
	margin-left: 25px;
}
.sum-col{
    margin:0px !important;
    padding:0px !important;
}
.sum-col1{
    margin-left:0px !important;
    padding:0px !important;
}
.bannerimg{
    width: 1500px;
    height: 300px;
    display: inline-block;
}


.bg-dark{
    background-color: black!important;
}

#cart-icon{
	width:25px;
	height:25px;
	display: inline-block;
	margin-right: 0px;
	margin-left: 30px;

}
#fav-icon{
	width:25px;
	height:25px;
	display: inline-block;
	margin-right: 15px;
	margin-left: 15px;
}
#user-icon{
    width:25px;
    height:25px;
	display: inline-block;
	margin-right: 15px;
}

#search-icon{
    width:25px;
    height:25px;
	display: inline-block;
}

#s-btn {
  background-color: black;
  border: none;
  margin-right: 30px;

}
.add-min-btn{
  background-color: black;
  border: none;
  margin-right: 30px;

}




#cart-total{
	display: block;
	color:#fff;
	background-color: grey;
	width: 15px;
	height: 15px;
	text-align: center;
	border-radius: 50%;
	font-size: 10px;
	margin-left: -10px;
	margin-right: 30px;
}
.item-no-btn{
    width: 30px;
	height: 30px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}
.qty-row{
    margin: 0px;
    margin-top:50px;
    margin-bottom:-50px;
    background-color: #E3E6E6;
	border-radius: 8px;
	padding: 5px;
	padding-right: 0px;
	padding-left: 0px;
	width: 90px;
	max-height: 35px;

}

.itm-nm-row{
    margin: 0px;
	margin-bottom: 70px !important;
    padding-right: 0px;
	padding-left: 0px;

}
.mr-sm-2{
    width:250px !important ;


}
.col-lg-4 , .col-lg-6 , .col-lg-8 , .col-lg-12 {
	margin-top: 10px;
}

.btn {
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 470;
	font-size: 20px;
	text-align: center;
	padding-right:0px;
	padding-left:5px;
}

.quantity1{

    display: inline-block;
	font-weight: 470;
	font-size: 20px;
	text-align: center;

    padding-right:2.5px;
}
.quantity2{

    display: inline-block;
	font-weight: 470;
	font-size: 20px;
	text-align: center;
    padding-right:5px;
    padding-left:2.5px;
}
.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top:0px;
	margin-bottom:2px;
	margin-left:3px;
	transition:.1s;
	


}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

.row{
	max-width: 100% !important;
	margin: 0px
}
 
    

.row-cart{
    max-width: 85% !important;
    margin:auto !important;
}

.row-checkout{
    max-width: 85% !important;

}

.container{
    max-width: 99% !important;
    padding: 0px !important;
    margin: 0px !important;

}
.col-lg-4{
    max-width: 25% !important;
    padding-top: 20px !important;
}
.chk-out{
    width: 200px !important;
    color: white !important;
	border-radius: 5px!important;

}
.chk-out-2{
    width: 150px !important;
    color: white !important;
	border-radius: 5px!important;

}
.proceed-payment{
	width: 250px !important;
	margin-top: 25px !important;
    margin-left: 35% !important;
	border-radius: 5px!important;

}
.add-cart-cont{
    margin-top: 5%;
    width:100%;
    height:100%;
}
.add-cart-btn{

    background-color: #E3E6E6 !important;
    float:bottom !important;
    border: 0px;

    }

.add-cart-btn:hover{
        background-color: grey !important;
        color: white !important;
    }


